*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
 .box{
 
    padding: 20px;
    border: 4px double rgb(103, 3, 3);
    border-radius:9px ;

 }
 .hours{
   font-size: x-large;
   background-image: linear-gradient(90deg, rgb(236, 58, 9) ,rgb(107, 59, 4));
   padding: 12px 9px ;
   color: transparent;
   background-clip: text;
   font-weight: 900;
 }